{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for program in software %}
        <div class="col-md-4 my-3">
            <div class="card h-100">
                <a href="{% url 'record' program.pk %}">
                    {% if program.ikona %}
                    <img src="{{ program.ikona.url }}" class="card-img-top" alt="Ikonka {{ program.nazev }}" style="width: 80px; height: 80px; object-fit: contain; margin: 1rem auto 0 auto; display: block;">
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="{% url 'record' program.pk %}" style="text-decoration: none; color: inherit;">
                            {{ program.nazev }}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}