<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container flex-column">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center w-100" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if kategorie_aktivni == 'Vše' %}active{% endif %}" href="{% url 'index' %}">Vše</a>
                </li>
                {% for kat in kategorie_vsechny %}
                    <li class="nav-item">
                        <a class="nav-link {% if kategorie_aktivni == kat.nazev %}active{% endif %}"
                           href="{% url 'index' %}?kategorie={{ kat.nazev }}">{{ kat.nazev }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>